# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# .env file
RESEND_API_KEY=re_Fmf5S9s8_DrcbASp4g6L7A41XQ1ZjuYZQ
RESEND_API_KEY=re_7wwddCMJ_QVaMRw1Nb256baf1efEiMJS2
